.games {
  padding: 20px;
  text-align: center;
  max-width: 100%;
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
}

.gameList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.gameCard {
  flex: 1 1 200px;
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  overflow: hidden;
}

.gameCard h3 {
  font-size: 1rem;
  background-color: rgba(40, 167, 69, 0.7);
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */ /* Kommentera bort denna rad för att tillåta radbrytningar */
}

.gameImage {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.gameCard button {
  background-color: #28a745;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: auto;
}

.gameCard button:hover {
  background-color: #218838;
}

/* Responsiv design för mindre skärmar */
@media (max-width: 768px) {
  .games {
    width: 100%;
    padding: 10px;
  }

  .gameCard {
    max-width: 45%;
    min-width: 45%;
  }

  .gameCard h3 {
    font-size: 0.9rem;
  }
}


