<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BoardArena - About</title>
  <link rel="stylesheet" href="/css/global.css">  <!-- Länk till global CSS -->
  <link rel="stylesheet" href="/css/about.css">  <!-- Länk till About CSS -->
</head>
<body>
  <!-- Här kommer headern att laddas in -->
  <!-- Containers där vi kommer att ladda in header, navigation och footer -->
  <div id="header-container"></div>
  <!-- Här kommer navigationen att laddas in -->
  <div id="navigation-container"></div>
  <!-- Main content -->
  <main>
    <div class="about-container">
      <h1 class="about-title">About Us</h1>
      <p class="about-text">Vi är BoardArena, en plattform som gör det möjligt för spelare att hitta och delta i brädspel online. Vi strävar efter att erbjuda en användarvänlig och engagerande upplevelse för alla våra användare.</p>
    </div>
  </main>
  
  <!-- Här kommer footern att laddas in -->
  <div id="footer-container"></div>
  <script src="/js/global.js"></script> <!-- Länk till global JavaScript -->
</body>
</html>

