<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BoardArena</title>
  <link rel="stylesheet" href="/css/global.css">  <!-- Länk till global CSS -->
  <link rel="stylesheet" href="/css/index.css">  <!-- Länk till index CSS -->
  <!-- Länka till din global CSS -->
</head>
<body>
  <!-- Här kommer headern att laddas in -->
  <!-- Containers där vi kommer att ladda in header, navigation och footer -->
  <div id="header-container"></div>
  <!-- Här kommer navigationen att laddas in -->
  <div id="navigation-container"></div>
  <!-- Main content -->

<main>
  <div class="news-container">
    <h1 class="news-title">News</h1>
    <p class="news-text">Här är några nyheter för dig att läsa...</p>
  </div>
</main>

  
  <!-- Här kommer footern att laddas in -->
  <div id="footer-container"></div>
  <script src="/js/global.js"></script> <!-- Länk till global JavaScript -->


</body>
</html>
